@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Sunflower', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(114deg, rgba(0, 0, 0, 0.9) 27%, rgba(0, 0, 0, 0) 50%),
      linear-gradient(114deg, rgba(93, 105, 103, 0.49) 0%, rgb(22, 87, 100) 66%),
      linear-gradient(114deg, rgba(175, 228, 226, 0.15) 0%, rgba(6, 33, 38, 0.83) 97%);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-image: linear-gradient(
        114deg,
        rgba(237, 237, 237, 0.07) 27%,
        rgba(179, 183, 183, 0) 50%
      ),
      linear-gradient(114deg, rgba(93, 105, 103, 0.49) 0%, rgba(6, 187, 224, 0.43) 66%),
      linear-gradient(114deg, rgba(175, 228, 226, 0.15) 0%, rgba(6, 187, 224, 0.53) 97%);
  }
}
body.light {
  background-image: linear-gradient(
      114deg,
      rgba(237, 237, 237, 0.07) 27%,
      rgba(179, 183, 183, 0) 50%
    ),
    linear-gradient(114deg, rgba(93, 105, 103, 0.49) 0%, rgba(6, 187, 224, 0.43) 66%),
    linear-gradient(114deg, rgba(175, 228, 226, 0.15) 0%, rgba(6, 187, 224, 0.53) 97%);
}
